@charset "UTF-8";
	*{margin:0; padding:0; box-sizing: border-box;}
	ul,ol{list-style:none;}
	a{text-decoration:none;}
	header{
		width:100%;
		height:1400px;
	}
	.head_img{
		width:800px;
		margin:0 auto;
		padding-top:80px;
	}
	.head_img:hover{
		transform:scale(1.1);
		-webkit-transform:scale(1.1);
	}
	.move_site{
		width:100%;
		height:300px;
	}
	.site_btn{
		width:800px;
		margin:0 auto;
		margin-top:40px;
	}
	.site_btn>li{
		float:left;
		margin:20px 20px;
	}
	.site{
		width:160px;
		height:60px;
		border:1px solid #000;
		background:none;
	}
	.site>a{
		color:#333;
		font-size:16px;
		padding:30px 10px;
	}
	.site:hover{
		background:#78a4ff;
	}
	.site:hover>a{
		color:#fff;
	}
	.con_box1{
		width:100%;
		height:800px;
		background:linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(200, 248, 222, 1));
		-webkit-background:linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(200, 248, 222, 1));
	}
	.summary{
		width:1000px;
		height:800px;
		margin:0 auto;
		opacity:0;
	}
	.summary>h2{
		font-size:28px;
		margin-bottom:30px;
	}
	.summary>ul{
		float:left;
		margin-top:10px;
		margin-bottom:30px;
	}
	.summary>ul>li{
		margin:14px 0;
		font-size:20px;
	}
	.summary>ol{
		width:700px;
		float:left;
		margin-top:10px;
		margin-bottom:30px;
	}
	.summary>ol>li{
		margin:14px 50px;
		display:block;
		font-size:20px;
	}
	.con_box2{
		width:100%;
		height:1000px;
		padding-top:80px;
		background:linear-gradient(to bottom, rgba(200, 248, 222, 1), rgba(207, 239, 249, 1));
		-webkit-background:linear-gradient(to bottom, rgba(200, 248, 222, 1), rgba(207, 239, 249, 1));
	}
	.goal{
		width:1000px;
		height:1000px;
		margin:0 auto;
		opacity:0;
	}
	.goal>h2{
		font-size:28px;
		margin-bottom:30px;
	}
	.goal>ul{
		width:100%;
		height:300px;
	}
	.goal>ul>li{
		width:300px;
		height:280px;
		float:left;
		margin:10px;
	}
	.project_goal{
		width:100%;
		height:200px;
		background:red;
		padding:30px;
	}
	.project_goal>h4{
		font-size:24px;
		color:#fff;
		margin-bottom:40px;
	}
	.project_goal>p{
		font-size:16px;
		color:#fff;
		line-height:30px;
	}
	.con_box3{
		width:100%;
		height:1000px;
		padding-top:80px;
		background:linear-gradient(to bottom, rgba(207, 239, 249, 1), rgba(248, 249, 207, 1));
		-webkit-background:linear-gradient(to bottom, rgba(207, 239, 249, 1), rgba(248, 249, 207, 1));
	}
	.color{
		width:1000px;
		height:300px;
		margin:0 auto;
		margin-bottom:40px;
	}
	.color>h2{
		font-size:28px;
		margin-bottom:30px;
	}
	.color>ul{
		width:100%;
		height:300px;
	}
	.color>ul>li{
		width:100px;
		float:left;
		margin:30px 75px;
	}
	.color>ul>li>img{
		margin-bottom:20px;
	}
	.color>ul>li>p{
		text-align:center;
		font-size:20px;
	}
	.font{
		width:1000px;
		height:200px;
		margin:0 auto;
		margin-bottom:80px;
	}
	.font>p{
		margin-bottom:10px;
	}
	.font>p:nth-child(2){
		font:bold 18px "Malgun Gothic";
	}
	.font>p:nth-child(3){
		font:18px "Malgun Gothic";
	}
	.font>p:nth-child(4){
		font:bold 18px "Arial";
	}
	.font>p:nth-child(5){
		font:18px "Arial";
	}
	.detail{
		width:1000px;
		height:200px;
		margin:0 auto;
	}
	.detail>p{
		text-align:center;
	}
	.con_box4{
		width:100%;
		height:4500px;
		padding-top:80px;
		background:linear-gradient(to bottom, rgba(248, 249, 207, 1), rgba(249, 207, 243, 1));
		-webkit-background:linear-gradient(to bottom, rgba(248, 249, 207, 1), rgba(249, 207, 243, 1));
	}
	.wire_sketch{
		width:80%;
		height:4500px;
		margin:0 auto;
	}
	.wire_sketch>h2{
		font-size:28px;
		margin-bottom:30px;
	}
	.wire_sketch>ul>li{
		float:left;
		padding:40px;
		border:1px solid #666;
		margin:20px 48px;
	}
	.wire_sketch>ul>li>img{
		width:500px;
		height:800px;
	}
	.wire_sketch>ul>li>p{
		text-align:center;
		font-size:24px;
		margin-top:40px;
	}